@font-face {
  font-family: 'MapoFlowerIsland';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}


* {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  position: relative;
  height: 100%;
  background-color: #FDFAF8;
}

#wrap_wrap {
  min-width: 1400px;
  overflow: hidden;
}

/* 원하는 높이로 스크롤시 아이콘나타나기 */
.top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  z-index: 99;
}







/* header 꾸미기 */
.header {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;

}

.nav {
  display: flex;
  height: 100px;
  align-items: center;
}

.gnb {
  display: flex;
  margin-left: 20px;
  padding-top: 25px;
  font-weight: 700;

}

.gnb li a {
  display: block;
  padding-bottom: 8px;
  margin: 0 20px;
  color: #b3b3b3;

}

.gnb li :hover {
  color: orange;
  font-weight: bold;
}

.gnb li::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ffa500;
  /* A keyframe */
  transform: scaleX(0);
  transform-origin: left center;
}

.gnb li:hover::after {
  /* B keyframe */
  transform: scaleX(1);
  transition: transform 0.5s;
}

.util {
  display: flex;
  font-size: 14px;
  color: #b3b3b3;
}

.util li {
  margin-left: 20px;
  color: #5f5f5f;
}

.util li:hover {
  color: orange;
  font-weight: bold;
}



/* 메인배너 / Swiper 꾸미기  */
#main_banner {
  /* width: 1920px; */
  /* margin: 0 auto; */
}

#main_banner .swiper {
  width: 100%;
  height: 100%;
}

#main_banner .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_banner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main_banner .swiper-button-next {
  color: orange;
  padding-right: 200px;
  font-weight: 800;
}

#main_banner .swiper-button-prev {
  color: orange;
  padding-left: 200px;
  font-weight: 800;
}

#main_banner .swiper-pagination-bullet {
  background-color: orange;
}



/* 회사소개_1 */
.container1 {
  background: url(../images/about_main.png) no-repeat center;
  height: 815px;

}

.story1 {
  width: 1320px;
  margin: 0 auto;
  color: #583517;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
  text-align: center;
}

.story1_text {
  font-size: 26px;
  line-height: 36px;
}



/* 회사소개 2 */
.container2 {
  margin: 0 auto;
  width: 1320px;
  padding-top: 200px;
}

.story2 {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.story2_img {
  width: 660px;
  box-sizing: border-box;
}

.story2_img img {
  width: 100%;
  box-sizing: border-box;
}

.story2_text {
  width: 530px;
  padding: 50px;
}

.story2_text p {
  margin-bottom: 25px;
}

h4 {
  font-size: 24px;
  color: #3A572B;
  margin-bottom: 50px;
}

h5 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 100px;
}

.story2 strong {
  font-size: 40px;
}

h6 {
  font-size: 22px;
  color: #CBA577;
  margin-bottom: 40px;
}

p {
  font-size: 16px;
  line-height: 26px;
}



/* 슬로건 배너 1 */
#banner1_wrap {
  background: url(../images/banner_1.png) no-repeat center;
  background-attachment: fixed;
  height: 400px;
  box-sizing: border-box;
  display: block;
  text-align: center;

  margin-top: 200px;


}

.banner1 h2 {
  color: rgb(117, 12, 12);
  font-family: 'MapoFlowerIsland';
}



h2 {
  font-size: 50px;
  padding-top: 180px;
  padding-bottom: 30px;
  /* color: #3A572B; */
}

.banner1 p {
  font-size: 22px;
  font-weight: 400;
  color: rgb(117, 12, 12);
  font-family: 'MapoFlowerIsland';

}



/* 뉴트리즈의 3가지 약속 */
#container3_wrap {

  padding-top: 200px;
}

.container3 {
  margin: 0 auto;
  width: 1320px;

}

.section_title {
  text-align: center;
  font-size: 50px;
}

.promise_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;

}

.promise_wrap li {
  border: 1px solid #333;
  border-radius: 50px;
  background-color: #fff;
  width: 30%;
  height: 500px;
  text-align: center;
  padding-top: 80px
}

.promise_img_wrap1 {
  width: 200px;
  height: 200px;
  margin-left: 100px;
  background: url(../images/about_icon_1.jpg);
  /* 원래 이미지 */
  background-size: cover;
  transition: 0.3s;
}

.promise_img_wrap1:hover {
  background-image: url(../images/about_icon_1_2.jpg);
  /* 바뀔 이미지 */
}

.promise_img_wrap2 {
  width: 200px;
  height: 200px;
  margin-left: 100px;
  background: url(../images/about_icon_2.jpg);
  /* 원래 이미지 */
  background-size: cover;
  transition: 0.3s;
}

.promise_img_wrap2:hover {
  background-image: url(../images/about_icon_2_2.png);
  /* 바뀔 이미지 */
}

.promise_img_wrap3 {
  width: 200px;
  height: 200px;
  margin-left: 100px;
  background: url(../images/about_icon_3.jpg);
  /* 원래 이미지 */
  background-size: cover;
  transition: 0.3s;
}

.promise_img_wrap3:hover {
  background-image: url(../images/about_icon_3_2.png);
  /* 바뀔 이미지 */
}

.promise div {
  cursor: pointer;
}







.promise h4 {
  margin: 30px;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  text-align: center;
  padding-top: 30px;
  font-size: 22px;
  font-weight: 400;
}



/* 뉴트리즈 건강 제품 라인업 */
#container4_wrap {
  padding-top: 200px;

}

.container4 {
  margin: 0 auto;
  width: 1320px;

}

.section4 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.section4 li {
  border-radius: 50px;
  width: 32%;
  height: 500px;
  text-align: center;
  padding-top: 80px;
}

.line img {
  width: 100%;
  height: 300px;
  display: block;
  box-sizing: border-box;
}

.line h4 {
  margin: 30px;
  font-size: 30px;
  line-height: 40px;
}

.line h6 {
  color: #333;
  margin: 30px;
  font-size: 30px;
  line-height: 40px;
  margin-top: -50px;
}

.line1 {
  background-color: #FFBECC;
}

.line2 {
  background-color: #D0BEFE;
}

.line3 {
  background-color: #AFD3FF;
}

.section4 .list_img_wrap {
  overflow: hidden;
}

.section4 .list_img_wrap img {
  transition: transform 0.3s;
}

.section4 .list_img_wrap img:hover {
  transform: scale(1.2);
}



/*  베스트 상품  */
.container5 {
  margin: 0 auto;
  width: 1320px;
  margin-top: 200px;
}

.section5 {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.section5 li {
  border-radius: 50px;
  width: 24%;
  height: 500px;
  padding-top: 100px;
  position: relative;
}

.best img {
  width: 100%;
  box-sizing: border-box;
}

.best h4 {
  margin: 30px;
  font-size: 30px;
  line-height: 40px;
}

.best h6 {
  font-weight: 600;
  font-size: 28px;
  padding-top: 50px;
}

.icon_wrap {
  display: flex;
  justify-content: center;
  gap: 10px;

}

.cart {
  width: 100PX;
  height: 34px;

  background: url(../images/cart_icon_1.png) no-repeat center;
  /* 원래 이미지 */
  background-size: 90%;
  transition: 0.3s;
}


.cart:hover {
  background: url(../images/cart_icon_2.png) no-repeat center;
  /* 바뀔 이미지 */
  background-size: 90%;
}



.heart {

  width: 34PX;
  text-align: center;
  padding-top: 25PX;
  height: 34px;
  box-sizing: border-box;


  background: url(../images/heart_icon_1.png) no-repeat center;
  /* 원래 이미지 */
  background-size: 90%;
  transition: 0.3s;
}

.heart:hover {
  background-image: url(../images/heart_icon_2.png);
  /* 바뀔 이미지 */
  background-size: 90%;
}



.best div {
  cursor: pointer;
}





.best_icon {
  position: absolute;
  top: 50px;
  right: 10px;
}

.limited_icon {
  position: absolute;
  top: 350px;
  left: 60px;
}

.section5 .list_img_wrap {
  overflow: hidden;
}

.section5 .list_img_wrap img {
  transition: transform 0.3s;
}

.section5 .list_img_wrap img:hover {
  transform: scale(1.2);
}



/* 루틴 1 꾸미기 */
#container6_wrap {
  margin-top: 160px;
}

.container6 {
  margin: 0px auto;
  width: 1320px;
  padding-top: 200px;
}

.routine1 img {
  width: 100%;
  padding-top: 100px;

}



/* 루틴 2 꾸미기 */
#container7_wrap {
  padding-top: 200px;
}

.today {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;

}

.today li {
  text-align: center;
  border-radius: 50px;
  width: 30%;
  padding-top: 80px border: 1px solid #333;
}

.routine2 img {
  width: 90%;
  margin: 20px 10px 0 20px;
  display: block;
  box-sizing: border-box;
  border-radius: 50px;
}

.today_text {
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.routine3 {
  background-color: #AFD3FF;
  position: relative;
}

.routine4 {
  background-color: #FFBECC;
  position: relative;
}

.routine5 {
  background-color: #D0BEFE;
  position: relative;
}

.cover_wrap {
  position: relative;
  /* margin-bottom: 20px; */
  overflow: hidden;
  height: 400px;
}

.list_img_wrap img {
  transition: all 0.3s;
}

.cover_wrap:hover .list_img_wrap img {
  transform: scale(1.1);
}

.cover {
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
}

.cover1 {
  background-color: rgba(7, 60, 160, 0.418);
}

.cover2 {
  background-color: rgba(145, 11, 105, 0.418);
}

.cover3 {
  background-color: rgba(127, 14, 172, 0.418);
}

.cover_wrap:hover .cover {
  opacity: 1;
}

.cover p {
  transform: translateY(-80px);
  transition: all 0.3s;
}

.cover_wrap:hover .cover p {
  transform: translateY(0px);
}

.btn_over {
  display: block;
  border: 1px solid #fff;
  padding: 6px 10px;
  margin-top: 20px;
  transform: translateY(80px);
  transition: all 0.3s;
}

.cover_wrap:hover .cover .btn_over {
  transform: translateY(0px);
}

.btn_over:hover {
  background-color: #fff;
  color: #333;
}



/* 슬로건 배너 2 (신제품) */
.banner2 {
  background: url(../images/banner_2.png) no-repeat center;
  height: 400px;
  box-sizing: border-box;
  display: block;
  margin-top: 200px;

}



/* 건강정보 HEALTH MAGAZINE */
#container8_wrap {
  margin-top: 200px;

}

.container8 {
  width: 1320px;
  margin: 0 auto;
}

.health_magazine {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 100px;

}

.health_magazine li {
  border: 1px solid #ddd;
  width: 33%;
}

.health_magazine li img {
  box-sizing: border-box;
  width: 100%;
}

.txt {
  padding: 20px 20px;
}


.health_magazine .list_img_wrap {
  overflow: hidden;
}

.health_magazine .list_img_wrap img {
  transition: transform 0.3s;
}

.health_magazine .list_img_wrap img:hover {
  transform: scale(1.2);
}


/* 슬로건 배너 3 */
.banner3 {
  background: url(../images/banner_3.png) no-repeat center;
  background-attachment: fixed;
  height: 400px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  margin-top: 200px;
  text-shadow: 5PX 5PX 5PX rgba(78, 78, 78, 0.7);
}

h2 {
  font-size: 50px;
  padding-top: 180px;
  padding-bottom: 30px;
  color: white;
}

.banner_text {
  font-size: 22px;
  font-weight: 600;
  color: white;
}




/* 이벤트 */
#container9_wrap {
  padding-top: 200px;
}

.container9 {
  margin: 0 auto;
  width: 1320px;

}

.event {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 1320px;
  margin-top: 100px;

}

.event1_wrap {}

.event li img {
  border-radius: 50px;
  width: 100%;

}

.event1_wrap,
.event2_wrap {
  position: relative;
}

.event_text {
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 190px;
  padding: 20px;
}

.event_text :hover;

  {
  color: orange;
}

.event li p:hover {
  color: orange;
  font-weight: bold;
}


/* 베스트 리뷰 */
#container10_wrap {
  padding-top: 200px;
}

.container10 {
  margin: 0 auto;
  width: 1320px;

}

.best_review_wrap {
  display: flex;
  justify-content: space-between;
  width: 1320px;
  padding-top: 100px;


}

.best_review_wrap li {
  width: 32%;
  text-align: center;
  position: relative;
}

.best_review_wrap img {
  width: 100%;
}

.best_review_icon {
  width: 120px;
  position: absolute;
  top: -50px;
  right: 20px;
}



/* 리뷰 */
.container11 {
  width: 1000px;
  margin: 0px auto;
  position: relative;
  overflow: visible;
  margin-top: 200px;
}

.section_title {
  text-align: center;
  font-size: 50px;
}



.container11_wrap {
  overflow: visible;
}

.review_text {
  margin-bottom: -150PX;

}



.card {
  padding-bottom: 50px;

}

.card img {
  width: 100%;
}

.card .swiper-slide h1 {
  padding: 10px 0;

}

.card .swiper-slide p {
  padding-bottom: 30px;
}

.card .swiper-slide {
  padding: 10px;
  box-sizing: border-box;

}


.container11 .swiper-pagination-bullet {
  margin-top: 500px;
  background-color: orange;
}

.container11 .swiper-button-prev {
  margin-left: -100px;
  color: orange;

}

.container11 .swiper-button-next {
  margin-right: -100px;
  color: orange;

}


/*지금 현재 가운데 보이고 있는 슬라이드는 .swiper-slide-active 라는 클래스를 가지는데 이를 이용해 스타일을 꾸며줌. 슬라이드가 3개일때 앞뒤로는 swiper-slide-prev, swiper-slide-next 클래스가 부여되는 이를 활용. slide개수가 4개 이상이면 모양이 제대로 잡히지 않으므로, 3개 이하일때 사용할것.*/
.card .swiper-slide-prev {
  transform: scale(0.9);
  transition: all 0.5s;

}

.card .swiper-slide-next {
  transform: scale(0.9);
  transition: all 0.5s;

}

.card .swiper-slide-active {
  transform: scale(1);
  transition: all 0.5s;

}

.card .swiper-slide {
  padding-bottom: 50px;
}



/* 흘러가는 로고 */
.text {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  3 transition: 0.3s;
  margin: 200px 0;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.text p {
  animation: textLoop 5s linear infinite;
  padding-right: 20px;
}


/*  인스타그램  */

.insta_logo {
  text-align: center;
}

.container12 {
  margin: 0 auto;
  width: 1320px;
  margin-top: 200px;
}

.insta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1320px;
  padding-top: 100px;
}

.insta li {
  width: 19%;
  margin-bottom: 10px;
  display: block;
  box-sizing: border-box;

}

.insta img {
  width: 100%;
}

.insta .list_img_wrap {
  overflow: hidden;
}

.insta .list_img_wrap img {
  transition: transform 0.3s;
}

.insta .list_img_wrap img:hover {
  transform: scale(1.2);
}



/* 슬로건 배너 4 */
.banner4 {
  background: url(../images/banner_4.png) no-repeat center;
  height: 670px;
  box-sizing: border-box;
  display: block;
  margin-top: 100px;

}


/* CS CENTER */
#container13_wrap {
  padding-top: 200px;
  margin-bottom: 200px;
}

.container13 {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  p-top: 100px;
  padding-top: 100px;
}

.container13 li {
  text-align: center;
  width: 25%;

  background-color: white;
}

.cs_center_wrap img {
  width: 70%;
  padding: 40px;
  margin-left: 50px;
  margin-top: 30px;
  display: block;
  box-sizing: border-box;
}

.cs_text {
  color: #076633;
  font-size: 30px;
  line-height: 40px;

  padding-bottom: 20px;
}

.cs_center {
  position: relative;
  /* margin-bottom: 20px; */
  overflow: hidden;
  height: 400px;
}

.list_img_wrap img {
  transition: all 0.3s;
}

.cs_center:hover .list_img_wrap img {
  transform: scale(1.1);
}

.cs_cover {
  /* background-color: rgba(0, 0, 0, 0.8); */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
  text-shadow: #333;

}

.cs_center:hover .cs_cover {
  opacity: 1;
}

.cs_cover p {
  transform: translateY(-80px);
  transition: all 0.3s;
  font-size: 24px;
  line-height: 34px;


}

.cs_center:hover .cs_cover p {
  transform: translateY(0px);
  background-color: rgba(73, 73, 73, 0.486);
  width: 330px;
  height: 400px;
  padding-top: 130px;
}


.cs_cover1 {
  /* background-color: rgba(0, 0, 0, 0.8); */
  background: url(../images/cs_center_cover_1.jpg) no-repeat center;

}

.cs_cover2 {
  /* background-color: rgba(0, 0, 0, 0.8); */
  background: url(../images/cs_center_cover_2.jpg) no-repeat center;
}

.cs_cover3 {
  /* background-color: rgba(0, 0, 0, 0.8); */
  background: url(../images/cs_center_cover_3.jpg) no-repeat center;
}

.cs_cover4 {
  /* background-color: rgba(0, 0, 0, 0.8); */
  background: url(../images/cs_center_cover_4.jpg) no-repeat center;
}


/* footer 꾸미기 */
#footer {
  background-color: #076633;
  height: 188px;
  color: white;
  padding: 50px;
}

.footer_wrap {
  width: 1000px;
  margin: 0 auto;
  position: relative;

}

.text1 {
  display: flex;
  padding: 20px 0;
}

.text1 li a {
  padding-right: 20px;
}

.footer_logo {
  position: absolute;
  right: 10px;
  top: 20px;
}

.sns_img {
  position: absolute;
  right: 10px;
  top: 80px;
}

.sns_img img {
  padding-left: 9px;
}

.text1 :hover {
  color: orange;
}

.sns_img {
  display: flex;
  justify-content: center;
  gap: 15px;


}

.sns_img div {
  cursor: pointer;
}

.sns_img1 {
  width: 30px;
  height: 30px;
  background: url(../images/icon_facebook.png) no-repeat center;
  /* 원래 이미지 */
  transition: 0.3s;
}

.sns_img1:hover {
  background: url(../images/icon_facebook_1.png) no-repeat center;
  /* 바뀔 이미지 */
}

.sns_img2 {
  width: 30px;
  height: 30px;
  background: url(../images/icon_instar.png);
  /* 원래 이미지 */
  transition: 0.3s;
}

.sns_img2:hover {
  background: url(../images/icon_instar_1.png) no-repeat center;
  /* 바뀔 이미지 */
}

.sns_img3 {
  width: 30px;
  height: 30px;
  background: url(../images/icon_twitter.png)no-repeat center;
  /* 원래 이미지 */
  transition: 0.3s;
}

.sns_img3:hover {
  background: url(../images/icon_twitter_1.png) no-repeat center;
  /* 바뀔 이미지 */
}

.sns_img4 {
  width: 30px;
  height: 30px;
  background: url(../images/icon_youtube.png) no-repeat center;
  /* 원래 이미지 */
  transition: 0.3s;
}

.sns_img4:hover {
  background: url(../images/icon_youtube_1.png) no-repeat center;
  /* 바뀔 이미지 */
}





.cart {
  width: 100PX;
  height: 34px;

  background: url(../images/cart_icon_1.png) no-repeat center;
  /* 원래 이미지 */
  background-size: 90%;
  transition: 0.3s;
}


.cart:hover {
  background: url(../images/cart_icon_2.png) no-repeat center;
  /* 바뀔 이미지 */
  background-size: 90%;
}